button{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-family: 'Noto Serif JP', serif;
    background-color: #c9c9c9;
}

html{
    height: 100%;
}

body{
    height: 100%;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;

}

#search_section{
    border: 2px solid red;
    display: flex;
    align-items: center;
    height: 20%;
}

#search_bar{
    width: 500px;
    height: 20px;
    border-radius: 5px;
}

.spaced{
    margin-left: 20px;
}

#results_section{
    border: 2px solid green;
    height: 80%;

} 

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
}