.button{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-family: 'Noto Serif JP', serif;
    background-color: #c9c9c9;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;

}

#search_section{
    display: flex;
    align-items: center;
    height: 20%;
}

#search_bar{
    width: 500px;
    height: 20px;
    border-radius: 5px;
}

.spaced{
    margin-left: 20px;
}

#results_section{
    height: 80%;
} 
a{
    font-family: 'Noto Serif JP', serif;
    font-size: large;
}
a:hover{
    background-color: rgba(115, 171, 217,0.5);
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    height: 80%;
}